{
  "__inputs": [],
  "__requires": [],
  "id": null,
  "title": "Sample Dashboard",
  "tags": [],
  "style": "dark",
  "timezone": "browser",
  "editable": true,
  "hideControls": false,
  "graphTooltip": 0,
  "panels": [],
  "schemaVersion": 16,
  "version": 0
}

